In [1]:
# import pymongo
# also make sure a MongoDB instance in running by '$ mongod' in iTerm
import pymongo

In [2]:
# import json
import json

In [3]:
# create a MongoClient
# this uses the default host and port
from pymongo import MongoClient
client = MongoClient()

In [4]:
# establish an instance of MongoDB with 'local' database
db = client.local

In [5]:
# Check the client connection
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [6]:
# Check the database 'local'
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'local')

In [7]:
# Create a collection of the MongoDB document 'reviews_Books'
db.reviews_Books

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'local'), 'reviews_Books')

In [8]:
# create new index on 'asin' in reviews_Books collection: 'asin_index'
db.reviews_Books.create_index([('asin', pymongo.ASCENDING)], name='asin_index')

'asin_index'

In [182]:
# count the number of reviews in the reviews_Books collection
db.reviews_Books.count()

22507155

In [10]:
# double check that the reviews_Books index creation worked
# now there are two indices: '_id' and 'asin_index'
for index in db.reviews_Books.list_indexes():
    print(index)

SON([('v', 2), ('key', SON([('_id', 1)])), ('name', '_id_'), ('ns', 'local.reviews_Books')])
SON([('v', 2), ('key', SON([('asin', 1)])), ('name', 'asin_index'), ('ns', 'local.reviews_Books')])

In [ ]:
# Create a collection of the MongoDB document 'reviews_Books_5', the k-cores review file
#db.reviews_Books_5

In [ ]:
# create new index on 'asin' in reviews_Books_5 collection: 'asin_index'
#db.reviews_Books_5.create_index([('asin', pymongo.ASCENDING)], name='asin_index')

In [ ]:
# count the number of reviews in the reviews_Books_5 collection
#db.reviews_Books_5.count()

In [ ]:
# Create a collection of the MongoDB document 'metadata'
#db.metadata

In [ ]:
# create new index on 'asin' in metadata collection
#code = db.metadata.create_index([('asin', pymongo.ASCENDING)])

In [ ]:
# count the number of metadata records in 'metadata' collection
#db.metadata.count()

In [ ]:
# double check that the reviews_Books_5 index creation worked
# now there are two indices: '_id' and 'asin_index'
#for index in db.reviews_Books_5.list_indexes():
#    print(index)

In [ ]:
# double check that the 'metadata' index creation worked
# now there are two indices: '_id' and 'asin_1'
#for index in db.metadata.list_indexes():
#    print(index)

In [ ]:
# another way to check indices
#db.metadata.index_information()

In [ ]:
# another way to check reviews_Books index information
#db.reviews_Books.index_information()

In [ ]:
# another way to check reviews_Books_5 index information
#db.reviews_Books_5.index_information()

In [204]:
# import pandas and pickle
# load the pickled ISBN_10 DataFrame of Invertebrate Biology Textbooks from hard drive in 'rb' mode
import pandas as pd
import pickle
with open('invertbio.pickle','rb') as f:
    isbn_bio = pickle.load(f)

In [205]:
# check the isbn_invert DataFrame info
isbn_bio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 607 entries, 0 to 606
Data columns (total 4 columns):
title       607 non-null object
subtitle    311 non-null object
descrip     561 non-null object
isbn10      607 non-null object
dtypes: object(4)
memory usage: 19.0+ KB

In [206]:
# check the head
isbn_bio.head()

,title,subtitle,descrip,isbn10
0,Behave,The Biology of Humans at Our Best and Worst,Why do we do the things we do? Over a decade i...,0735222789
1,A Short History of Nearly Everything: Special ...,NaN,One of the world’s most beloved writers and be...,030788516X
2,Human Body Theater,NaN,"Welcome to the Human Body Theater, where your ...",1596439297
3,Beginning Science: Biology,NaN,Beginning Science: Biology is for use during t...,019914091X
4,The Gene,An Intimate History,THE #1 NEW YORK TIMES BESTSELLER A New York Ti...,1476733538

In [207]:
# this is what worked 
# reset index of isbn dataframe with 'isbn10' and turn just 'isbn10' into a list
ans = isbn_bio.reset_index()['isbn10']
out = ans.values.tolist()

In [185]:
# this isn't what worked. Maybe the for loop is the problem
# perform find with $in
#result = db.reviews_books.find({"asin":{"$in":out}})
#final = []
#for r in result:
#    final.append(r)

In [14]:
# also try making df of just the isbn column
#just_isbn = isbn_invert.isbn10

In [47]:
# convert just_isbn to string? this didn't work, still 'object'
#isbnstring = just_isbn.astype('str')
#print(isbnstring.dtypes)

object

In [51]:
# use .values to make an numpy array from the series 'just_isbn'
#justcodes = just_isbn.values

In [53]:
# check the type: numpy.ndarray!
#type(justcodes)

numpy.ndarray

In [64]:
# now create 'strcodes' which is the numpy array with elements as strings
#import numpy as np
#strcodes = np.array_str(justcodes)

In [70]:
#type(strcodes)

str

### Pymongo Aggregation function with 'match' in the pipeline

In [157]:
# build my pipline for aggregating collection documents
#import pprint
#pipeline = [
#    {'$match': {'reviewText': 'Biology'}},
#    {'$out': "bio_collection"},
#    ]
#q = db.command('aggregate','reviews_Books', pipeline=pipeline, explain=True)
# above attempt to reference 'isbn_invert' didn't work but I didn't get an error...

In [126]:
#db.reviews_books.aggregate([{'$match':{'asin':out}},
#                            {'$out': 'test_set'}
#                           ])

In [ ]:
# if the collection resulting from $match is not too big:
# pprint.pprint(list(db.reviews_Books.aggregate(pipeline)))

In [158]:
#from pandas import DataFrame
#test = DataFrame(list(db.reviews_Books.aggregate(pipeline)))

In [160]:
# see if aggregate matched any documents
#test.head()

Empty DataFrame
Columns: []
Index: []

In [ ]:
# pickle collection of 6001 Water For Elephants reviews
#h2o4_phants.to_pickle('h2o4phants.pickle')

In [190]:
# did not work
#Id = input("enter codes: ")
#cursor = db.reviews_Books.find({'asin' : Id})
#for i in cursor:
#    print(i)

enter codes: out

In [191]:
# use find() with $in to search 'justcodes' nparray '0077496175', '1433380196', '0521830885', '1468484516'
#db.reviews_Books.find({'asin':{"$in": out
#       }}).count()

690

In [208]:
# this worked
bio_revs = DataFrame(list(db.reviews_Books.find({'asin':{"$in": out
       }})))

In [209]:
# this worked
bio_revs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1663 entries, 0 to 1662
Data columns (total 10 columns):
_id               1663 non-null object
asin              1663 non-null object
helpful           1663 non-null object
overall           1663 non-null float64
reviewText        1663 non-null object
reviewTime        1663 non-null object
reviewerID        1663 non-null object
reviewerName      1654 non-null object
summary           1663 non-null object
unixReviewTime    1663 non-null int64
dtypes: float64(1), int64(1), object(8)
memory usage: 130.0+ KB

In [210]:
bio_revs.head(3)

,_id,asin,helpful,overall,reviewText,reviewTime,reviewerID,reviewerName,summary,unixReviewTime
0,5a1f058a30ec5f57e707c294,003046224X,"[0, 0]",5.0,I loved the life science book it's just full o...,"09 10, 2013",A13MQTT3YQIDRS,Belia Russell,Life science,1378771200
1,5a1f058a30ec5f57e707c295,003046224X,"[5, 5]",5.0,My son is using this book for book 7th grade s...,"10 2, 2010",A2MHGJFVA5A6K3,blessed,excellent,1285977600
2,5a1f058a30ec5f57e707c296,003046224X,"[0, 0]",5.0,This book was very helpful for homework comple...,"10 2, 2013",A1KJS9N5D0W35R,Kimberly M. Berkey,Great life science book,1380672000

In [211]:
# pickle isbn list
bio_revs.to_pickle('invertbiorevs.pickle')

## Leftover code from previous efforts:

In [ ]:
# need to figure out how 'reviewTime' corresponds to 'dateTime' in python and how to query date ranges
#d = datetime.datetime()
#db.reviews_Books.find()[6000]

#the answer is: 13886788 which means 62% of Amazon book reviews are 5 stars!
#another check: there are 6001 reviews for Water for Elephants